### IGNORE ###

# Project folders
.git/
node_modules/

# Generated output
types/
docs/

# Markdown files
*.md

# Special files
LICENSE

### DON'T IGNORE ###

# Project settings folders
!.vscode/
!.github/
