{
    "root": true,
    "env": {
        "jest": true,
        "es6": true,
        "node": true,
        "commonjs": true
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "extends": ["eslint:recommended", "plugin:jest/recommended"],
    "plugins": ["jest"],
    "rules": {
        "jest/no-conditional-expect": "off"
    }
}
