:root {
    --bg: #222222;
    --border: #ffffff;

    --text: #d2dfe7;
    --text-highlight: #56d738;

    --signature: #008000;
    --signature-bg: #ccffcc;
    --signature-text: #000000;

    --code-bg: #282c34;
}

* {
    box-shadow: none !important;
    text-shadow: none !important;
}

body {
    color: var(--text);
    background-color: var(--bg);
}

a,
a:active {
    color: var(--text-highlight);
}

article a {
    border-bottom-color: var(--border);
}

article a:hover,
article a:active {
    border-bottom-color: var(--border);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-highlight);
}

h4.name {
    color: var(--signature-text);
    background-color: var(--signature-bg);
    border-top-color: var(--border);
    border-bottom-color: var(--border);
}

h4.name a {
    color: var(--signature);
}

h4.name a:hover {
    border-bottom-color: var(--signature);
}

tt,
code,
kbd,
samp,
pre {
    background-color: var(--bg);
}

section {
    background-color: var(--bg);
}

.signature-attributes {
    color: var(--signature-text);
}

nav {
    background-color: var(--bg);
}

nav h3 {
    color: var(--text);
}

nav a:hover,
nav a:active {
    color: var(--text-highlight);
}

nav > ul > li > a {
    color: var(--text-highlight);
}

nav ul ul a {
    color: var(--text);
    border-left-color: var(--border);
}

nav > h2 > a {
    color: var(--text-highlight) !important;
}

footer {
    color: var(--text);
}

table {
    border-color: var(--border);
}

thead tr,
thead tr {
    background-color: var(--bg);
    border-bottom-color: var(--border);
}

.type-signature {
    color: var(--signature);
}

.type-signature:last-child {
    color: var(--signature-text);
}

.signature {
    color: var(--signature);
}

.details {
    border-left-color: var(--border);
}

.prettyprint code {
    background-color: var(--code-bg);
    color: var(--text);
}

.params td,
.params .name,
.props .name,
.name code {
    color: var(--text);
    border-left-color: var(--border);
}

.params td {
    border-top-color: var(--border);
}

span.param-type,
.params td .param-type,
.param-type dd {
    color: var(--text-highlight);
    border-left-color: var(--border);
}

.navicon {
    background-color: var(--text);
}
.navicon:before,
.navicon:after {
    background-color: var(--text);
}

.nav-trigger:checked + label.plus .navicon:before,
.nav-trigger:checked + label.x .navicon:before {
    background-color: var(--bg);
}

.nav-trigger:checked + label.plus .navicon:after,
.nav-trigger:checked + label.x .navicon:after {
    background-color: var(--bg);
}

@media only screen and (max-width: 680px) {
    nav {
        background-color: var(--bg);
    }
}
